################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/apitesting/FileContentIndex/da97448b-0142-47a7-9e52-72809ff26074.vsidx
